.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	padding-bottom: 20px;
	color: var(--text-primary-color);
}

.top {
	width: 100%;
	max-width: 536px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	background-color: var(--background-element);
	border-radius: var(--top-constructor-item-border-radius);
}

.ingredients {
	width: 100%;
	max-width: 536px;
	margin: 20px auto;
	padding: 20px 0;
	text-align: center;
	background-color: var(--background-element);
	border-radius: var(--common-border-radius-s);
}

.bottom {
	width: 100%;
	max-width: 536px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	background-color: var(--background-element);
	border-radius: var(--bottom-constructor-item-border-radius);
}
