.wrapper {
	display: flex;
	max-height: calc(100vh - 88px);
	margin: auto;
}

.tab {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 400px;
	margin-top: 15%;
	margin-left: 20px;
}

.btn {
	align-self: baseline;
	background: none;
	border: none;
	cursor: pointer;
}
